################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Kursovoi_project/FileContentIndex/e69acdfb-9da4-4e94-b068-3e2f039bc6ec.vsidx
